html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    color: #222222;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
    border-radius: 5px;
    line-height: initial;
}

img {
    width: 100%;
    height: auto;
}

blockquote {
    border-left: 2px solid #8b6cef;
    padding: 0 0 0 16px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    color: #9275f0;
    outline: none;
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}

a:hover {
    color: #a48cf2;
}

h1 .header-anchor, h2 .header-anchor, h3 .header-anchor, h4 .header-anchor, h5 .header-anchor, h6 .header-anchor {
    visibility: hidden;
}

h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor {
    visibility: visible;
}


.hljs {
    background-color: #fafafa;
}

.content {
    max-width: 700px;
    margin: 40px auto 80px;
    line-height: 1.5;
}

.error {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -60%);
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #dadada;
        background-color: #1e1e1e;
    }

    .hljs {
        background-color: #242424;
    }
}
